.main-container{
    margin: 50px;
}

.min-height-600{
    min-height: 600px;
}

.no-flex-wrap{
    flex-wrap: inherit !important;
}

//.b{
//    
//}
//#marb{
  //  padding-left: 0%;
 //   padding-right: 0%;
//}
#marb2{
    padding-left: 0%;
    padding-right: 0%;
    border: none;
}

.margin{
    margin-right: 4px;
}

