<div style="padding: 2%;">
<div class="col mb-3">
      <div class="col-md-12">
        <div class=" col-md-12 mb-3">
            <h2> Nouvelle commande {{origin}}</h2>
        </div>
       <div class="row p-3 custom-border">
         <div class="col-md-5 custom-border-right">
             <form>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Code commande " >
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Date commande" >
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example" >
                        <option selected>Sélectionner un client</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
              </form>
        </div>
        <div class="col-md-4 custom-border-right ">
            <div class="row">
              <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
              <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
               <div class="col-md-10">Prénom</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
               <div class="col-md-10">+33 07 77 45 99</div>
            </div>
            <div class="row">
              <div class="col-md-1"><i class="fa-solid fa-hourglass-half blue-color"></i></div>
              <div class="col-md-10">EN PREPARATION</div>
           </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center">
            <img src="assets/product.png" class="rounded-circle" width="150px" height="150px">
        </div>    
       </div> 
      </div>

      <div class="row mt-2 p-3 custom-border">
       <form>
        <div class="row">
          <div class="col">
              <input type="text" class="form-control" placeholder="Code article">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Quantité">
         </div>
         <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire">
         </div>
         <div class="col">
          <button class="btn btn-success"><i class="fas fa-plus"></i></button>
         </div>
        </div>
       </form>
      </div>
       <div class="row mt-2 p-3 custom-border" style="max-height: 300px; overflow-y: scroll; ">
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
           <app-detail-cmd></app-detail-cmd>
        </div>
         <div class="row mt-2 p-3 custom-border text-end">
         <h3>Total de la commande: 135,9</h3>
          </div>
        <div class="col-md-14 text-end" style="margin-right: 12px;" >
          <button class="btn btn-danger" style="margin: 15px;">
           <i class="fas fa-ban"></i>&nbsp;  
            Annuler</button>
           <button class="btn btn-primary">
          <i class="fas fa-save"></i>&nbsp; 
          Enregistrer</button>
       </div>
    </div>
  </div>




  <!-- <div style="padding: 2%;">
    <div class="container">
      <div class="row mb-3">
        <hr style="width: 100%;">
        <div class="col-12">
          <div class="mb-3">
            <h2>Nouvelle commande</h2>
          </div>
          <div class="row">
            <div class="col-md-5 border-end ">
              <form>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Code commande " style="width: 50%;">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="Date commande" style="width: 50%;">
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example" style="width: 50%;">
                        <option selected>Sélectionner un client</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
              </form>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-3 text-center">
              <img src="assets/product.png" class="rounded-circle" width="200px" height="200px">
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-md-9 col-12 text-end">
              <button class="btn btn-danger" style="margin: 15px;">
                <i class="fas fa-ban"></i>&nbsp; Annuler
              </button>
              <button class="btn btn-primary">
                <i class="fas fa-save"></i>&nbsp; Enregistrer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->