<div class="row mb-1 mr-0 mt-1 custom-border">
    <div class="col-md-2 custom-border-right p-1 text-center">
        <!-- <div class="border-right"> -->
            <img src="assets/product.png" width="100px" height="100px" height="100px">
        <!-- </div> -->
    </div>

    <!--  Details article-->
    <div class="col-md-3 custom-border-right">
        <div class="col">
            <div class="row">
              <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
              <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
               <div class="col-md-10">Prénom</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
               <div class="col-md-10">+33 07 77 45 99</div>
            </div>
        </div>
    </div>

    <!--  details categorie-->
    <div class="col-md-3 custom-border-right">
        <div class="col">
            <div class="row" style="margin-top: 2px;">
              <div class="col-md-1"><i  class="fa-solid fa-qrcode blue-color"></i></div>
              <div class="col-md-10">CMD-12345454</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-regular fa-calendar-check blue-color"></i></div>
               <div class="col-md-10">07.12.2023</div>
            </div>
            <div class="row">
               <div class="col-md-1"><i class="fa-solid fa-cart-arrow-down blue-color"></i></div>
               <div class="col-md-10">LIVREE</div>
            </div>
        </div>
    </div>

   <!--  boutons action-->
    <div class="col-md-4 custom-border-right">
      <div class="row">
         <div class="col-md-4">
            <button type="button" class="btn btn-link " > 
                <i class="fa-solid fa-pencil"></i>
                &nbsp; Modifier
            </button>
         </div>

         <div class="col-md-4">
            <button type="button" class="btn btn-link " > 
                <i class="fa-solid fa-trash blue-color"></i>
                &nbsp; Supprimer
            </button>
         </div>

      </div>
    </div>
</div> 

