<div class="row mb-1 mr-0 mt-1 custom-border">
    <!--  Details article-->
    <div class="col-md-3 custom-border-right">
        <div class="col">
            <div class="row text-center ">
              <div class="col-md-11">12.12.2023</div>
            </div>
        </div>
    </div>

    <!--  details categorie-->
    <div class="col-md-3 custom-border-right">
      <div class="row">
       <!-- <div class="col-md-10"> -->
         <div class="col-md-12 text-center">
            <!-- <div class="col-md-32">  -->
                <h5>139</h5>
            <!-- </div> -->
         </div>
       <!-- </div>   -->
      </div>
    </div>

    <div class="col-md-3 custom-border-right">
      <div class="row">
         <div class="col-md-12 text-center">
                <h5>Sortie</h5>
         </div>
      </div>
    </div>

   <!--  boutons action-->
    <div class="col-md-3 mb-1 mt-1 ">
      <div class="row">
           COMMANDE_CLIENT
      </div>
    </div>
</div> 
