<div class="accordion" id="accordionExample" *ngFor="let menu of menuProperties">
	<div class="card" >
	  <h2 class="accordion-header" id="{{menu.id}}">
		<button class="accordion-button" type="button" data-bs-toggle="collapse"
		[attr.data-bs-target]="'#collapseOne'+menu.id" aria-expanded="true" aria-controls="collapseOne">
		 <i class="{{menu.icon}}"></i>&nbsp; 
		<!-- <i class="fa-regular fa-user"></i>&nbsp; -->

		{{menu.titre}}
		</button>
	  </h2>

	  <div id="collapseOne{{menu.id}}" class="accordion-collapse collapse" [attr.aria-valuenow]="'menu'+ menu.id" data-bs-parent="#accordionExample">
		  <div class="card">
			<ul class="list-group list-group-flush" *ngFor="let sousMenu of menu.sousMenu" [ngClass]="{'text-white bg-primary':sousMenu.active, '': !sousMenu.active}">
			 <li class="list-group-item" >
				 <a href="javascript:void(0);" (click)="navigate(sousMenu)" style="color:inherit">
					<i class="{{sousMenu.icon}}"></i>&nbsp;
					{{sousMenu.titre}}
				</a>
			</li>
			</ul>
		  </div>
		
	  </div>
	</div>
  </div>