<div class="row mb-1 mr-0 mt-1 custom-border">
    <!--  Details article-->
    <div class="col-md-3 custom-border-right">
        <div class="col">
            <div class="row text-center ">
              <div class="col-md-11">Code article</div>
            </div>
        </div>
    </div>


    <div class="col-md-3 custom-border-right">
      <div class="row">
         <div class="col-md-12 text-center">
                Designation article
         </div>
      </div>
    </div>

    <div class="col-md-2 custom-border-right">
      <div class="row">
         <div class="col-md-12 text-center">
                <h5>6</h5>
         </div>
      </div>
    </div>

    <div class="col-md-2 custom-border-right">
        <div class="row">
           <div class="col-md-12 text-center">
                  <h5>12,3</h5>
           </div>
        </div>
      </div>

    <div class="col-md-2 mb-1 mt-1 ">
      <div class="row">
           73,8
      </div>
    </div>
</div> 
