
<div class="container">

    <div class="col mb-3">
        <div class="col-md-12 mt-2">
            <img src="assets/product.png" class="rounded-circle" width="200px" height="200px">
        </div>
        <hr style="width: 1150px;">
          <div class="col-md-12"style="margin-left: 12px;">
            <div class=" col-md-12 mb-3">
                <h2> <i class="fas fa-info-circle blue-color"></i>&nbsp; Information de l'utilisateur</h2>
            </div>
           <div class="col-md-12">
            <form  style="width: 1150px;">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Nom">
                    </div>
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Adresse 1">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Prénom">
                    </div>
                    <div class="col">
                        <input type="text" class ="form-control" placeholder=" Adresse 2 ">
                    </div>
                </div>
    
    
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="E-mail">
                    </div>
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Ville">
                    </div>                  
                </div>
    
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Telephone">
                    </div>
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Code Postal">
                    </div>             
                </div>
                <div class="row mb-3">
                    <div class="col">
                        &nbsp;
                    </div>
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="Pays">
                    </div>             
                </div>
            </form>  
           </div> 
          </div>
            <div class="col-md-14 text-end" style="margin-right: 12px;" >
              <button class="btn btn-danger" style="margin: 15px;" (click)="cancel()">
               <i class="fas fa-ban"></i>&nbsp;  
                Annuler</button>
               <button class="btn btn-primary">
              <i class="fas fa-save"></i>&nbsp; 
              Enregistrer</button>
           </div>
        </div>
     

</div>